<footer>
  <ul class="pl-0 smallish">
    <li><h4 class="text-uppercase m-0">Floral Design</h4></li>
    <li>
      <p>
        kazpetrulyte@outlook.com
      </p>
    </li>
    <li>
      <p>
        0422 110 672
      </p>
    </li>
    <li><a href="http://www.therealinsta.com/user/5433436545" target="_blank">@flowersbykaz</a></li>
  </ul>
  <div>
    <p class="text-secondary text-small">&copy;Flowers By Kaz 2018</p>
  </div>
</footer>
