<footer>
  <ul class="pl-0 smallish">
    <li><h4 class="text-uppercase m-0">Floral Design</h4></li>
    <li>
      <p>
        kazpetrulyte@outlook.com
      </p>
    </li>
    <li>
      <p>
        0422 110 672
      </p>
    </li>
    <li>
      <ul>
        <li>
          <a href="http://www.therealinsta.com/user/5433436545" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </li>
        <li>
          <a href="http://www.therealinsta.com/user/5433436545" target="_blank"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="http://www.therealinsta.com/user/5433436545" target="_blank"><i class="fab fa-twitter-square"></i></a>
        </li>
        <li>
          <a href="http://www.therealinsta.com/user/5433436545" target="_blank"><i class="fas fa-envelope"></i></a>
        </li>
      </ul>
    </li>
  </ul>
  <div>
    <p class="text-secondary text-small">&copy;Flowers By Kaz 2018</p>
  </div>
</footer>
