<footer>
  <ul class="pl-0 smallish details">
    <li><h4 class="text-uppercase m-0">Floral Design</h4></li>
    <li>
      <div class="text-muted">
        kazpetrulyte@outlook.com
      </div>
    </li>
    <li>
      <div class="text-muted">
        0422 110 672
      </div>
    </li>
    <li>
      <ul class="icons">
        <li>
          <a class="subtle text-muted" href="http://www.therealinsta.com/user/5433436545" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </li>
        <li>
          <a class="subtle text-muted" href="https://www.instagram.com/flowersbykaz/" target="_blank"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a class="subtle text-muted" href="http://www.therealinsta.com/user/5433436545" target="_blank"><i class="fab fa-twitter-square"></i></a>
        </li>
        <li>
          <a class="subtle text-muted" href="http://www.therealinsta.com/user/5433436545" target="_blank"><i class="fas fa-envelope-square"></i></a>
        </li>
      </ul>
    </li>
  </ul>
  <div>
    <span class="text-secondary text-small">&copy;Flowers By Kaz 2018</span>
  </div>
</footer>
