<div class="header">
    <%= render '/shared/nav_bar' %>
    <a class="brand m-0 p-0" href="#"><img src="<%= image_path('card_front.png') %>" class="d-inline-block align-top" alt=""></a>
    <div class="clearfix">

    </div>
</div>
