<div class="loader-wrapper hidden">
  <h4>Image uploading please wait...</h4>
  <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
