<div id="welcome-wrapper">
  <div class="slideshow">
    <div class="welcome-banner one">
    </div>
    <div class="welcome-banner two">
    </div>
    <div class="welcome-banner three">
    </div>
    <div class="welcome-banner four">
    </div>
  </div>
  <div class="overlay soft-white opaque hover-reveal">

  </div>
</div>
