<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Hello <%= @name %></h4>
    <p>
      This is  just a courtesy confirmation email to let you know that I have received your inquiry and will endevour to reply as soon as possible.
    </p>
    <p>
      All the best,
    </p>
    <p>
      -Kaz
    </p>
  </body>
</html>
