<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Yo, so looks like <%= @name %> (<%= @email %>) Sent you an inquiry:</h4>
    <p>
      <%= @content %>
    </p>
  </body>
</html>
