<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Glad you stopped by.</h1>
    <p>
      Thanks for tetting in touch <%= @name %>, we'll try to get back ASAP regarding your inquiry. We are currently handling a large volume of clientelle, but you can expect a response within 48 hours at the very latest.
    </p>
    <p>All the best.</p>
    <p>-Kaz</p>
    <p>
      <a href="google.com">FlowersByKaz.com</a>
    </p>
  </body>
</html>
