<div class="row justify-content-center about">
  <div class="col-lg-7 col-sm-10 top p-0">
    <div class="position-relative loading-overlay-holder">
      <div class="position-relative">
        <img class="img-fluid default-profile" src="" alt="Picture of Kaz looking fleek" data-url="<%= image_path('portrait.jpg') %>">
      </div>
      <div class="overlay d-flex align-items-center justify-content-center loader-holder">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-sm-10">
    <div class="container-fluid about about-text text-muted p-0">
      <h6>About Flowers By Kaz</h6>
      <p class="delicate">
        I am a fully qualified Florist who also holds a degree in Psychology. I am passionate about creating unique flower arrangements, and using my design skills to surprise and delight people.
      </p>
      <p class="delicate">
        I am in love with botanical, fresh and lively flower arrangements, and draw inspiration from nature and country cottage gardens.
      </p>
      <p class="delicate">
        Based on the Mornington Peninsula in Melbourne, Australia. I only use the freshest available flowers, and you can be sure that you will receive a fresh and high quality product. I also strive to work in a way that is as environmentally sustainable as possible, by avoiding the use of plastic, minimising wastage, and using green waste disposal.
      </p>
      <p class="delicate">
        I am available for weddings, and will work with you to provide beautiful flowers that complement the style of your wedding, and complete your special day. I am also available for other special events, collaborating on projects such as photoshoots or fashion events, working with businesses to provide corporate flowers, funeral service arrangements, sympathy flowers, delivered flowers as gifts, and more.
      </p>
    </div>
  </div>
</div>
<div class="row justify-content-center mission about">
  <div class="col-lg-6 col-sm-10">
    <div class="container-fluid about about-text text-muted p-0">
      <h6>Mission Statement</h6>
      <p class="delicate">
        I am a fully qualified Florist who also holds a degree in Psychology. I am passionate about creating unique flower arrangements, and using my design skills to surprise and delight people. Based on the Mornington Peninsula in Melbourne, Australia. plastic, minimising wastage, and using green waste disposal. ay. I am also available for other special events, collaborating on projects such as photoshoots or fashion events, working with businesses to provide corporate flowers, funeral service arrangements, sympathy flow
      </p>
      <p class="delicate">
        I am a fully qualified Florist who also holds a degree in Psychology. I am passionate about creating unique flower arrangements, and using my design skills to surprise and delight people. Based on the Mornington Peninsula in Melbourne, Australia. I only use the freshest available flowers, and you can be sure that you will receive a fresh and high quality product. I also strive to work in a way that is as
      </p>
    </div>
    </div>
    <div class="col-lg-6 col-sm-10 top p-0">
      <div class="position-relative loading-overlay-holder">
        <div class="position-relative">
          <img class="img-fluid default-profile" src="" alt="Picture of Kaz looking fleek" data-url="<%= image_path('works/green_flowers.jpg') %>">
        </div>
        <div class="overlay d-flex align-items-center justify-content-center loader-holder">
          <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
      </div>
  </div>
