<div class="row justify-content-around about">
  <div class="col-lg-5 col-sm-10 top p-0">
    <div class="position-relative loading-overlay-holder">
      <div class="position-relative">
        <img class="img-fluid default-profile" src="" alt="" data-url="<%= image_path('kaz.jpg') %>">
      </div>
      <div class="overlay d-flex align-items-center justify-content-center loader-holder">
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </div>
    </div>
  </div>
  <div class="col-lg-5 col-sm-10">
    <div class="container-fluid about about-text text-muted p-0">
      <h6>About Flowers By Kaz</h6>
      <p class="delicate">
        I am a qualified Florist, passionate about creating unique flower arrangements, and using my design skills and love of flowers to surprise and delight.
      </p>
      <p class="delicate">
        Based on the Mornington Peninsula in Melbourne, Australia. I only use the freshest available flowers and I pride myself on attention to detail, so you can be sure that you will receive fresh and high quality arrangements.
      </p>
      <p class="delicate">
        I am available for weddings, and will work with you to provide beautiful flowers that complete your special day. I am also available for other events, freelance hire for labour, collaborating on projects such as photoshoots or fashion events, working with businesses to provide corporate flowers, funeral service arrangements, sympathy flowers, delivered flowers as gifts, and more.
      </p>
    </div>
  </div>
</div>
<div class="row justify-content-around mission about">
  <div class="col-lg-5 col-sm-10">
    <div class="container-fluid about about-text text-muted p-0">
      <h6>Business Ethos</h6>
      <p class="delicate">
        Most Florist shops produce huge amounts of plastic waste that is not recycled and goes to landfill, contributing to environmental degradation. Flowers by Kaz strives to work in a way that improves environmental sustainability, by avoiding the use of plastic, recycling and reusing where possible, minimising waste in general, as well as using green waste disposal.
      </p>
      <p class="delicate">
         By opting for containers as a fresh water source, I avoid the use of floral foam – which is constructed from plastic and chemical additives, and is not biodegradable. Furthermore, using paper to wrap flowers instead of plastic sheets. Paper not only gives a fresh, natural look, it can be recycled and is safer for the environment, as well as being better for protecting flowers from bruising and breaking.
      </p>
    </div>
    </div>
    <div class="col-lg-5 col-sm-10 top p-0">
      <div class="position-relative loading-overlay-holder">
        <div class="position-relative">
          <img class="img-fluid default-profile" src="" alt="" data-url="<%= image_path('works/Weddings_(2).JPG') %>">
        </div>
        <div class="overlay d-flex align-items-center justify-content-center loader-holder">
          <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
      </div>
  </div>
