<div class="container-fluid contact">
  <div class="row justify-content-between">
    <div class="col-md-6 col-sm-8">
      <div class="info-container container">
        <h4>Some title</h4>
        <p class="text-justify">Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut ninja wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit ninja lobortis nisl ut aliquip ex ea commodo consequat. Duis ninja autem vel eum iriure dolor in hendrerit in vulputate ninja velit esse molestie consequat, vel illum dolore eu feugiat nulla ninja facilisis at vero eros et accumsan et iusto odio dignissim qu</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-4">
      <div class="info-container container">
        <h4>Contact Us</h4>
        <table>
          <tr>
            <td>Address:</td>
            <td>120 Fourth Street, Tofino, British Columbia, Canada</td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td>+1 250-731-0772</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>tansgiftshop@gmail.com</td>
          </tr>
        </table>
      </div>
      <div class="map-container container">
        <iframe
          height="350"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCUWqa47_t_vvOnkCjbkoR7V198XWzDRxE
            &q=Space+Needle,Seattle+WA" allowfullscreen>
        </iframe>
      </div>

    </div>
  </div>
</div>
