<div class="row justify-content-between no-gutters contact">
  <div class="col-md-6 col-sm-7 column-top">
    <div class="info-container">
      <h5>Inquiries and Orders</h5>
      <p class="text-justify delicate">Based in Frankston South, Melbourne, Australia. Flowers By Kaz services areas on the Mornington Peninsula as well as South East suburbs of Melbourne. Please contact us for all quotes, orders, consultations and general enquiries.</p>
    </div>
    <div class="form-container info" id="email-form">
      <form action="/send_mail" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <div class="form-group">
          <label for="email">Email (Required)</label>
          <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="name@example.com" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="name">Name (Required)</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="Petunia Rose" required>
        </div>
        <div class="form-group">
          <label for="content">Inquiry</label>
          <textarea class="form-control" placeholder="Inquiry" name="content" id="content" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-pink">Submit</button>
      </form>
    </div>
  </div>
  <div class="col-md-5 col-sm-4">
    <div class="info-container">
      <h5>Contact Us</h5>
      <table class="delicate">
        <tr>
          <td>Location:</td>
          <td>Frankston, Melbourne, Victoria</td>
        </tr>
        <tr>
          <td>Phone:</td>
          <td>+1 250-731-0772</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>kazpetrulyte@outlook.com</td>
        </tr>
      </table>
    </div>
    <div class="map-container">
      <%= image_tag 'whole_logo.png', class: 'img-fluid contact-image'  %>
    </div>

  </div>
</div>
