<div class="row justify-content-between no-gutters contact">
  <div class="col-md-6 col-sm-7 column-top">
    <div class="info-container">
      <h5>Some title</h5>
      <p class="text-justify delicate">Lorem ninja ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut ninja wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit ninja lobortis nisl ut aliquip ex ea commodo consequat. Duis ninja autem vel eum iriure dolor in hendrerit in vulputate ninja velit esse molestie consequat, vel illum dolore eu feugiat nulla ninja facilisis at vero eros et accumsan et iusto odio dignissim qu</p>
    </div>
    <div class="form-container">
      <form action="/send_mail" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
        <div class="form-group">
          <label for="email">Email (Required)</label>
          <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="name">Name (Required)</label>
          <input type="text" class="form-control" name="name" id="name" placeholder="Smon Jith" required>
        </div>
        <div class="form-group">
          <label for="content">Message</label>
          <textarea class="form-control" placeholder="Message" name="content" id="content" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  <div class="col-md-5 col-sm-4">
    <div class="info-container">
      <h5>Contact Us</h5>
      <table class="delicate">
        <tr>
          <td>Location:</td>
          <td>Suburb, Melbourne, Victoria</td>
        </tr>
        <tr>
          <td>Phone:</td>
          <td>+1 250-731-0772</td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>tansgiftshop@gmail.com</td>
        </tr>
      </table>
    </div>
    <div class="map-container">
    </div>

  </div>
</div>
