@import 'bootstrap'
// vars

$pink: #e2c9c9

$pink-light: #dbcbc4
$pink-a: #d6c7c3
$pink-b: #d4cec0
$pink-c: #c0d5b1
$pink-d: #b2d9a8
$pink-e: #7aba7a
$pink-f: #78ba78

$pink-dark: #57a857

//GENERAL

.form-control
  border: 1px solid $pink-c !important

img
  image-orientation: from-image

p
  text-align: justify

a
  color: inherit !important

a.subtle:hover
  text-decoration: none !important
  &.text-muted
    color: $body-color !important
.text-small
  font-size: 0.7rem
.smallish
  font-size: 0.9rem
  line-height: 1.8rem
.page-header
  margin-bottom: 5rem

.delicate
  font-size: 0.8rem
  line-height: 1.8rem
  margin-bottom: 0.8rem

.column-top
  margin-bottom: 6rem

.overlay
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  &.white
    background: #fff
    background: rgba(255, 255, 255, 0.6)
  &.soft-white
    background: #fff
    background: rgba(255, 255, 255, 0.25)
  &.black
    background: #000
    background: rgba(0, 0, 0, 0.8)
  &.button
    background: $pink-dark
    color: #fdfdfd

.opaque
  opacity: 0

.hidden
  display: none

.super-hidden
  display: none !important

//LAYOUT

.body-sub
  background-image: image-url('flower_row_closer.png')
  background-repeat: repeat-x
  background-position: center bottom
  background-size: 25%

footer
  background: #fff
  background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.7) 50%, rgba(255, 255, 255, 0.1) 100%)
.carousel,
body
  position: relative

main
  max-width: 1100px
  margin: auto
  padding: 7rem 2rem 8rem 2rem !important

.clearfix
  clear: both

.navbar
  padding-top: 5rem
  text-transform: uppercase

.content-wrapper
  padding-top: 3rem

.brand
  float: right

//HOMEPAGE

#welcome-wrapper
  box-sizing: border-box
  position: absolute
  width: 100%
  height: 70vw
  margin: auto
  position: relative
  .welcome-banner,
  .overlay
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
  .welcome-banner
    display: none
    background-size: cover
    background-position: center
  .one
    display: block
    background-image: image-url('works/green_flowers.jpg')
  .two
    background-image: image-url('works/IMG_1.JPG')
    background-position: 50% 50%
  .three
    background-image: image-url('works/IMG_4.JPG')
    background-position: 10% 5%
  .four
    background-image: image-url('works/IMG_2.JPG')


//FOOTER

footer
  text-align: center
  margin: auto
  max-width: 800px
  padding-bottom: 1rem
  ul.details
    padding-bottom: 8rem
    margin: auto
    list-style: none
    li
      margin-bottom: 0px
  .icons
    padding-top: 1rem
    padding-left: 0
    font-size: 1.7rem
    li
      display: inline-block
      padding: 0.8rem

//ABOUT

.default-profile
  min-height: 200px

.about
  padding-bottom: 2rem
  margin-bottom: 5rem
  border-bottom: 1px solid $pink
  .overlay
    img
      height: 100%
  .top
    margin-bottom: 4rem
.mission
  h6
    text-align: right
  p
    text-align-last: right

.about-text
  border-bottom: 1px solid $pink-c

//Services
.services
  p
    font-style: italic
  .row
    margin-bottom: 4rem
    .picture
      display: flex
      align-items: center
      padding: 0
    .text
      padding: 2rem 3rem
      background: $pink-a
      display: flex
      justify-content: center
      flex-direction: column
      &.two
        background: $pink-b
      &.three
        background: $pink-c
      &.four
        background: $pink-d
    .banner
      padding: 3rem 0
      &.final
        background: $pink-e
      &.title
        background: $pink-light

// CONTACT
.contact
  .info-container
    padding-bottom: 3rem
    border-bottom: 1px solid $pink-c
    td
      padding-right: 1rem
  .form-container
    padding-top: 4rem

.img-fluid.contact-image
  -moz-transform: scaleX(-1)
  -o-transform: scaleX(-1)
  -webkit-transform: scaleX(-1)
  transform: scaleX(-1)
  filter: FlipH
  -ms-filter: "FlipH"
  max-width: 16rem
  opacity: 0.4

.btn.btn-pink
  background: $pink-d
  border: 1px solid $pink-c
  color: $dark
  &:hover
    border: 1px solid $pink-a
    background: $pink-a
  &:active
    border: 1px solid $pink-a
    background: $pink-a

//PORTFOLIO

.covers
  padding-bottom: 3rem

.square-img-wrapper
  background-position: center center
  background-size: cover
  overflow: hidden
  height: 0
  padding-top: 100%
  // fun fact: padding 100% means 100% of height :D


  // SHOW

.work-show
  z-index: 9999
  position: relative
  position: fixed

#work-holder
  height: 101vh

.work-overlay:hover
  cursor: pointer

.work-overlay-clear
  font-size: 3rem
  position: absolute
  top: 0
  right: 0
  margin-right: 1.5rem
  &:hover
    color: #bbb
    cursor: pointer

#work-info
  display: flex
  align-items: center
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: #000
  background: rgba(0,0,0,0.5)
  #info-container
    padding: 0 1rem
    display: flex
    justify-content: center
    flex-direction: column
    max-width: 500px
    margin: auto

.work-nav
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  font-size: 4rem
  text-align: center
  position: relative
  &:hover
    cursor: pointer
    background: rgba(0,0,0,0.5)


#work-image
  max-height: 95vh
// ADMIN


// FLASHES

.flash
  z-index: 9999
  position: fixed
  top: 0
  right: 0
  left: 0
  padding: 2rem
  opacity: 0.7
  &.success
    background: $success
  &.error
    background: $warning

// BREACKPOINTS

@media (max-width: 991px)

  // NAVBAR

  body
    padding-top: 56px
  .navbar
    float: none
    margin: auto
    text-align: center
    background: $pink
    margin-top: 0
    position: fixed !important
    top: 0
    right: 0
    left: 0
    z-index: 1030
    .navbar-toggler
      margin: auto

@media (min-width: 992px)
  //SERVICES
  footer
    ul.details
      padding-bottom: 12rem

@media (max-width: 991px)
  //SERVICES

  .services
    .row
      .text
        padding: 1.5rem 1.5rem
        h5
          font-size: 1rem
        p
          line-height: 1.4rem

@media (max-width: 767px)

  //SERVICES

  .services
    .row
      &.text-first
        flex-direction: column-reverse
      .text
        padding: 3rem 3rem
        h5
          font-size: 1.4rem
        p
          line-height: 1.8rem

  .work-nav
    font-size: 1.5rem

  .about
    h6
      text-align: center
    .mission
      h6
        text-align: center
