<div class="row covers">
  <% @works.each do |work| %>

  <div class="col-lg-2 col-md-3 col-sm-4 col-6 covers-col p-1">
    <a href="<%= work_path(work.id) %>" class="subtle"><div class="container-fluid position-relative p-0">
      <div class="overlay white opaque hover-reveal work-overlay"></div>
      <div class="square-img-wrapper" style="background-image: url(<%= image_url(work.image.url) %>)">
      </div>
    </div></a>
  </div>

  <% end %>

</div>

<div class="row breadcrumbs">
  <div class="col-12">
    <a href="<%= categories_path%>" class="subtle text-muted"><h6 class="delicate text-uppercase">Return to Portfolio</h6></a>
    <% if session[:admin] %>
      <div class="row breadcrumbs">
        <%= link_to "Upload new artwork to #{@category.title}", new_category_works_path(@category.id) %>
      </div>
    <% end %>
  </div>
</div>

<div class="overlay black opaque hidden work-show text-light">
  <div class="work-overlay-clear">
    <i class="fa fa-times-circle"></i>
  </div>
  <h1>FUCK YOUs</h1>
</div>
